@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Hide cursor globally for the custom cursor effect */
  cursor: none;
}

/* Ensure images and videos are always crisp */
img,
video {
  object-fit: cover;
}

/* For mobile: show the default cursor again */
@media (max-width: 768px) {
  body {
    cursor: auto;
  }
}
/* app/globals.css */
@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.7) !important;
    color: transparent !important;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }

  /* The "Silent Flex" hover - text fills in elegantly */
  .text-outline:hover {
    -webkit-text-stroke: 1px transparent !important;
    color: white !important;
  }
  .text-outline-black {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7) !important;
    color: transparent !important;
    transition: all 0.8s cubic-bezier(0.16, 1, 0.3, 1);
  }

  /* The "Silent Flex" hover - text fills in elegantly */
  .text-outline-black:hover {
    -webkit-text-stroke: 1px transparent !important;
    color: black !important;
  }
}

/* Hide scrollbar for a cleaner look */
::-webkit-scrollbar {
  display: none;
}
