@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  /* Hide cursor globally for the custom cursor effect */
  cursor: none;
}

/* Ensure images and videos are always crisp */
img,
video {
  object-fit: cover;
}

/* For mobile: show the default cursor again */
@media (max-width: 768px) {
  body {
    cursor: auto;
  }
}
@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px white !important;
    color: transparent !important;
    transition: all 0.7s ease; /* Optional: smooths the hover fill */
  }

  .text-outline:hover {
    -webkit-text-stroke: 1px transparent !important;
    color: white !important;
  }
}
